@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,200;0,300;0,700;1,300;1,500&display=swap');

* {
	box-sizing: border-box;
}

/* html {
	margin-bottom: 0px;
} */

body {
	background-color: #111;
	color: #222;
	font-family: 'Livvic', sans-serif;
	margin: 0px;
	text-align: center;
	/* height: 100vh; */
}

.container {
	background: linear-gradient(#db6400, #fff76a);
	width: 40%;
	margin: 100px auto;
	padding: 60px 20px;
	box-shadow: 2px 2px 5px rgb(219 100 0 / 80%);
}

input {
	/* color: #fff; */
	font-family: 'Livvic', sans-serif;
	background-color: #bbb;

	font-size: 0.8em;
	font-style: bold;
}

input:focus {
	outline: 0.5px solid #c1c1c1;
	outline-offset: -2px;
}

input::placeholder {
	color: #333;
}

input[type='text'] {
	border: transparent 0px solid;
	border-bottom: 0.5px solid #444;

	/* outline: transparent 0px solid; */
	background-color: transparent;
}

input[type='button' i] {
	font-family: 'Livvic', sans-serif;
	/* background-color: #ff3788; */
	color: #111;
	font-style: normal;
	font-size: 0.8em;
	/* width: 20%; */
	padding: 5px 15px;
	border: transparent 0px solid;
	cursor: pointer;
}

.current {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.weather-icon,
.big {
	font-size: 5em;
	margin: 0;
}

#temp {
	padding-left: 20px;
	font-size: 3.5em;
}

.small,
#icon .small {
	font-size: 0.8em;
	display: block;
	padding-top: 5px;
}

.footer {
	height: 60px;
}

.footer-content {
	transform: translateY(5px);
}
